@using WebMVC.Entity;
@model Customer
        <section class="products section bg-gray" style="height: 100vh">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-2 title text-center">
                        <ul class="list-group">
                            <li class="list-group-item" style="margin-left: 5%;background-color: #1bbb1b"><a href="/Profile/Show">Edit profile</a></li>
                            <li class="list-group-item" style="margin-left: 5%"><a href="/ChangePassword/Show">Change password</a></li>
                        </ul>
                    </div>            
                    <div class="col-lg-9 title text-center" style="margin-left: 4%">            
                        <h2 class="text-center">Profile</h2> 
                        <p style="color:red">@ViewData["message"]</p>
                        <p style="color:green">@ViewData["mess"]</p>
                        <form action="/Profile/Update" method="POST" class="text-left clearfix">
                            <input type="hidden" name="role" value="Customer">
                            <div class="form-group">
                                <input type="text" name="FullName"  class="form-control" placeholder="Your FullName" value="@Model.FullName" required>
                            </div>
                            <div class="form-group">
                                <p>Gender:                                   
                            @{
                                bool gender = Model.Gender;
                            }
                             <select name="gender">
                            @{
                                    // if male
                                    if(gender)
                                    {
                                      <option value="1" selected>Male</option>
                                       <option value="0" >Female</option>
                                    }
                                    else

                                    {
                                       <option value="1" >Male</option>
                                       <option value="0" selected>Female</option>
                                    }
                                }
                                        
                              </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Your phone" value="@Model.Phone" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Your email" value="@Model.Email" >
                            </div>         
                            <div class="text-center">
                                <button type="submit" class="btn btn-main text-center">Save</button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </section>
