@using WebMVC.Entity;
@using WebMVC.Models;
<section class="products section bg-gray" style="height: 100vh">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 title text-center">
                        <h2>Manager</h2>
                        <ul class="list-group">
                            <li class="list-group-item" style="margin-left: 5%;background-color: #1bbb1b"><a href="/ManagerAccount/Index">Account Manager</a></li>
                            <li class="list-group-item" style="margin-left: 5%"><a href="/ManagerCustomer/Index">View Customer</a></li>
                            <li class="list-group-item" style="margin-left: 5%"><a href="/ManagerShipper/Index">Shipper Manager</a></li>
                            <li class="list-group-item" style="margin-left: 5%"><a href="/ManagerProduct/Index">Product Manager</a></li>
                            <li class="list-group-item" style="margin-left: 5%"><a href="/ManagerOrder/Index">Order Manager</a></li>
                        </ul>
                    </div >
                    <div class="col-lg-9 title" style="margin-left: 3%">
                        <p style="color:red">@ViewData["message"]</p>
                        <form action="/ManagerAccount/DoUpdateRole" method="POST">
                            <input type="hidden" name="username" value="@ViewData["user"]">
                            <input type="hidden" name="role" value="@ViewData["role"]">
                            <p>Role current : @ViewData["role"]</p>
                            <p >You want to change role name: </p>
                            <fieldset class="row">
                                <div class="col-sm-10">
                                    <div >
                                        <input type="radio" name="roleEdit" value="Customer" @(ViewData["role"].ToString().Equals("Customer") ? "checked" : "")>Customer<br>

                                    </div>
                                    <div >
                                        <input type="radio" name="roleEdit" value="Shipper" @(ViewData["role"].ToString().Equals("Shipper") ? "checked" : "")>Shipper<br>
                                    </div>
                                </div>
                            </fieldset>
                    @{
                        // if not save successful
                        if(ViewData["mess"] == null)
                        {
                            <button type="submit" onclick="return confirm('Are you sure you want to save your change?')">Save</button>
                        }
                        else
                        {
                        <p style="color:green">@ViewData["mess"]</p>
                            
                        }
                   }       
                        </form>
                         
                    </div>
                </div>
            </div>
        </section>

